// DOM Elements

* {
  box-sizing: border-box;
}

:root {
  --vertical-rhythm: #{$vertical-rhythm};
  --columns: #{$columns};
  @if $minimum-column-width % $vertical-rhythm == 0 {
    --minimum-column-width: #{$minimum-column-width};
  } @else {
    --minimum-column-width: #{$minimum-column-width - ($minimum-column-width % $vertical-rhythm) + $vertical-rhythm};
  }
  --column-width: calc((100% - (var(--columns) * 2 * var(--vertical-rhythm))) / var(--columns));
  --rows: #{$rows};
  @if $minimum-row-height % $vertical-rhythm == 0 {
    --minimum-row-height: #{$minimum-row-height};
  } @else {
    --minimum-row-height: #{$minimum-row-height - ($minimum-row-height % $vertical-rhythm) + $vertical-rhythm};
  }
  --column-pattern: var(--vertical-rhythm) minmax(var(--minimum-column-width), 1fr) var(--vertical-rhythm);
  --row-pattern: var(--vertical-rhythm) minmax(var(--minimum-row-height), auto) var(--vertical-rhythm);
  --base-font-size: calc(var(--vertical-rhythm) * 5 / 6);
  --font-adjustment: 1px;
  --header-spacing: 1;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: var(--base-font-size);
  line-height: var(--vertical-rhythm);
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

h1 {
  font-size: calc(var(--base-font-size) * 2);
  line-height: calc(var(--vertical-rhythm) * 2);
}

h2 {
  font-size: calc(var(--base-font-size) * 1.5);
  line-height: calc(var(--vertical-rhythm) * 2);
}

h3 {
  padding: calc(var(--vertical-rhythm) / 4) 0;
  font-size: calc(var(--base-font-size) * 1.35);
  line-height: calc(var(--vertical-rhythm) * 1.5);
}

h4 {
  padding: calc(var(--vertical-rhythm) * 9 / 32) 0;
  font-size: calc(var(--base-font-size) * 1.2);
  line-height: calc(var(--vertical-rhythm) * 1.25);
}

h5,
h6 {
  font-size: calc(var(--base-font-size) * 1);
  line-height: calc(var(--vertical-rhythm) * 1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: var(--vertical-rhythm) 0 calc(var(--vertical-rhythm) * var(--header-spacing));

  &:first-child {
    margin-top: 0;
  }
}

p {
  margin: 0 0 var(--vertical-rhythm) 0;
  font-size: var(--base-font-size);
  font-family: sans-serif;
  line-height: calc(var(--vertical-rhythm) * 1);
}
