// Grid

.grid {
  display: grid;
  grid-template-columns: repeat(var(--columns), var(--column-pattern));
  grid-template-rows: repeat(var(--rows), var(--row-pattern));

  > * {
    display: block;
    margin: 0;
    padding: var(--fluid-vertical-rhythm);
    color: rebeccapurple;
    background-color: rgba(rebeccapurple, 0.1);
    --column: 1;
    --span-columns: 1;
    --row: 1;
    --span-rows: 1;
    --overflow-top: 0;
    --overflow-right: 0;
    --overflow-bottom: 0;
    --overflow-left: 0;
    grid-column: calc(var(--column) + ((var(--column) - 1) * 2) + 1 - var(--overflow-left)) / span calc(var(--span-columns) + ((var(--span-columns) - 1) * 2) + var(--overflow-left) + var(--overflow-right));
    grid-row: calc(var(--row) + ((var(--row) - 1) * 2) + 1 - var(--overflow-top)) / span calc(var(--span-rows) + ((var(--span-rows) - 1) * 2) + var(--overflow-top) + var(--overflow-bottom));

    &:nth-child(1) {
      --span-columns: 2;
    }

    &:nth-child(2) {
      display: none;
      --span-columns: 2;
      --column: 2;
      --span-rows: 3;
      --row: 2;
      --overflow-top: 0;
      --overflow-right: 0;
      --overflow-bottom: 1;
      --overflow-left: 1;
    }

    &:nth-child(3) {
      --column: 3;
      --overflow-left: 1;
    }

    &:nth-child(4) {
      display: none;
      --column: 4;
      --span-rows: 2;
      --row: 2;
    }

    &:nth-child(5) {
      display: none;
      --span-rows: 2;
      --row: 2;
    }
  }
}
