<html lang="en-US">
  <head>
    <title>Vertical-rhythm</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <meta name="referrer" content="origin-when-cross-origin">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/browserconfig.xml">
    <meta name="description" content="Tools for a classic grid layout with vertical rhythm.">
    <link rel="canonical" href="/">
    <link rel="icon" type="image/ico" href="/favicon.ico">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="apple-touch-icon" href="/images/favicons/apple-touch-icon-120x120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="/images/favicons/apple-touch-icon-152x152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="/images/favicons/apple-touch-icon-167x167.png" sizes="167x167">
    <link rel="apple-touch-icon" href="/images/favicons/apple-touch-icon-180x180.png" sizes="180x180">
  </head>
  <body>
    <header>
      <h1>Vertical-rhythm</h1>
    </header>
    <main class="grid with-vertical-guides with-column-guides">
      <p>Nulla at volutpat diam ut venenatis tellus. Arcu felis bibendum ut tristique et. Lorem dolor sed viverra ipsum nunc aliquet bibendum enim facilisis. Dignissim diam quis enim lobortis scelerisque fermentum dui. Feugiat in ante metus dictum at tempor commodo ullamcorper a. Vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa. Cursus euismod quis viverra nibh cras pulvinar mattis. In aliquam sem fringilla ut morbi tincidunt augue interdum velit. Tempor orci eu lobortis elementum nibh tellus. Turpis massa sed elementum tempus egestas. Lectus urna duis convallis convallis tellus id interdum velit. Neque volutpat ac tincidunt vitae semper quis lectus. Tincidunt dui ut ornare lectus sit amet est placerat. Egestas dui id ornare arcu odio ut sem nulla.</p>
      <div>
        <h2>Gravida cum sociis natoque penatibus et. Nulla at volutpat diam ut venenatis tellus.</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Faucibus nisl tincidunt eget nullam. Non curabitur gravida arcu ac tortor dignissim. Sem et tortor consequat id. Suspendisse in est ante in. Mauris pellentesque pulvinar pellentesque habitant morbi. Placerat duis ultricies lacus sed turpis. Vel pretium lectus quam id leo in vitae. Luctus venenatis lectus magna fringilla urna porttitor. Ullamcorper sit amet risus nullam.
        </p>
        <p>
          Gravida cum sociis natoque penatibus et. Amet volutpat consequat mauris nunc congue nisi vitae. Sit amet porttitor eget dolor morbi non arcu risus quis. Velit euismod in pellentesque massa. Tortor condimentum lacinia quis vel. Aliquam sem fringilla ut morbi tincidunt augue interdum velit. Adipiscing commodo elit at imperdiet dui accumsan sit amet nulla. Sapien pellentesque habitant morbi tristique senectus et. Pellentesque elit eget gravida cum sociis natoque penatibus et. Risus commodo viverra maecenas accumsan lacus vel facilisis volutpat.
        </p>
        <p>
          Nulla at volutpat diam ut venenatis tellus. Arcu felis bibendum ut tristique et. Lorem dolor sed viverra ipsum nunc aliquet bibendum enim facilisis. Dignissim diam quis enim lobortis scelerisque fermentum dui. Feugiat in ante metus dictum at tempor commodo ullamcorper a. Vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa. Cursus euismod quis viverra nibh cras pulvinar mattis. In aliquam sem fringilla ut morbi tincidunt augue interdum velit. Tempor orci eu lobortis elementum nibh tellus. Turpis massa sed elementum tempus egestas. Lectus urna duis convallis convallis tellus id interdum velit. Neque volutpat ac tincidunt vitae semper quis lectus. Tincidunt dui ut ornare lectus sit amet est placerat. Egestas dui id ornare arcu odio ut sem nulla.
        </p>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <div>
        <h3>Gravida cum sociis natoque penatibus et. Nulla at volutpat diam ut venenatis tellus.</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Faucibus nisl tincidunt eget nullam. Non curabitur gravida arcu ac tortor dignissim. Sem et tortor consequat id. Suspendisse in est ante in. Mauris pellentesque pulvinar pellentesque habitant morbi. Placerat duis ultricies lacus sed turpis. Vel pretium lectus quam id leo in vitae. Luctus venenatis lectus magna fringilla urna porttitor. Ullamcorper sit amet risus nullam.
        </p>
      </div>
      <p>Five</p>
    </main>
    <footer>
      <p>Copyright © 2020 mckelvey/creative LLC</p>
    </footer>
  </body>
</html>
