// Guides: Vertical

.with-vertical-guides {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background:
      repeating-linear-gradient(
        $guide-color,
        $guide-color 0.5px,
        transparent 0.5px,
        transparent calc(var(--fluid-vertical-rhythm) - 0.5px),
        $guide-color calc(var(--fluid-vertical-rhythm) - 0.5px),
        $guide-color var(--fluid-vertical-rhythm)
      );
    z-index: -1;
  }
}

.with-grid-paper {
  @extend .with-vertical-guides;
}
